body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #222;
}

header {
  background: #060755c7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  width: 100px;
  height: 70px;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.hero {
  background: linear-gradient(to right, #03073db9, #05115273);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: white;
  color: #170750;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

.section.light {
  background: #f4f4f4;
}

h2 {
  color: #11064d;
  margin-bottom: 20px;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-left: 5px solid #1c0941;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 15px;
}

form button {
  background: #0905429f;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
}

footer {
  background: #0b054291;
  color: white;
  text-align: center;
  padding: 15px;
  cursor:pointer;
}
